#divtop {
    background-color: rgb(138, 138, 138);
    height: 70px;
    text-align: center;
    position: static;
}
#divnav {
    background-color: rgb(255, 255, 255);
    position: static;
}
#divcat {
    background-color: rgb(160, 160, 160) ;
    width: 20%;
    float: left;
    height: 100%;
    position: static;
}
#divpag {
    width: 80%;
    background-color: rgb(194, 194, 194);
    float: right;
    position: static;
}
#divrod {
    background-color: black;
    width: 100%;
    position: static;
    
}
div.card {

}

