
#divtop {
    background-color: red;
    height: 70px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 100px;
    position: static;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#divnav {
    background-color: rgb(255, 255, 255);
    position: static;
}
#divcat {
    width: 20%;
    background-color: red;
    float: left;
    height: 100%;
    position: static;
    border-radius: 10px;
    
}
#divpag {
    width: 80%;
    background-color: rgb(236, 236, 236);
    float: right;
    position: static;
    height: 100%;
    border-radius: 10px;
}
#divrod {
    background-color: rgb(196, 196, 196);
    text-align: center;
}
#divtudo {
    height: 100vh;
}
#img {
    width: 300px;
}
.margincat {
    margin-left: 20px;
}
.cat:hover{
    background-color: aliceblue;
}
#divfundocar {
    background-color: rgb(231, 25, 25);
    margin: 50px 50px 50px 50px;
    border-radius: 10px;
}
#titcar {
    text-align: center;
}

